/* main.css */

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.card-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  margin: 16px;
  flex: 1 1 calc(50% - 32px); /* Two cards per row */
  max-width: calc(50% - 32px);
  transition: 1s;
}

.card-container:hover {
  border-color: blue;
   transform: scale(1.05); /* Slightly increase the size of the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */

}

.card-icon {
  font-size: 15em; /* Adjust the size of the icon */
  color: var(--title); /* Example color */
  margin: 0 auto 16px; /* Center the icon and add margin at the bottom */
  display: flex;
  justify-content: center; /* Center the icon horizontally */  
}

.icon {
  display: block;
}

.card-title {
  font-size: 1.6em;
  margin: 16px 0;
}

.card-description {
  font-size: 1.2em;
  text-align: justify;
  color: var(--subtitle);
}

@media (max-width: 600px) {
  .card-container {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
