@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+AR:wght@100..400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

.hero-container {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: -30px;
    margin-top: -30px;
}

.profile-picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.name {
    font-family: 'Playwrite CU', cursive;
    font-size: 3rem;
    margin: 10px 0;
    color: var(--title);
}

.title {
    font-size: 1.8rem;
    color: var(--subtitle);
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 10px;
    color: var(--subtitle);
    font-size: 1.8rem;
    transition: 0.8s;
}

.social-icons a:hover {
    color: #0077b5;
    font-size: 1.9rem;
}

.social-icons a:nth-child(1):hover {
    color: #3b5998; 
}

.social-icons a:nth-child(3):hover {
    color: #69C9D0; 
    
}

.motto {
    font-size: 1.3rem;
    font-family: 'Playwrite CU', cursive;
    color: var(--subtitle);
  }

  .motto:hover {
    color: var(--textHover);
}

@media (max-width: 600px) {
    .name{
        font-size: 2rem;
    }

    .title{
        font-size: 1.3rem;
    }

    .motto{
        font-size: 1.2rem;
    }

    .profile-picture img {
        width: 200px;
        height: 200px;
    }
}